@model Haber.Models.ViewModels.Response.IcerikResponseViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row row-cards">
    <div class="col-md-9">
        <h1>@Model.Baslik</h1>

        <img class="d-block w-100" alt="@Model.Baslik" src="@Model.ResimUrl">
        <span>
            @Html.Raw(Model.Govde)
        </span>
        @(await Component.InvokeAsync("HaberFotograflar", new { icerikId=Model.Id}))

    </div>
    <div class="col-md-3">
        @(await Component.InvokeAsync("KategoriHaber", new { kategoriId = int.Parse(Model.Kategori.Value.ToString()) , al=5}))
    </div>
</div>